<mat-card class="profile-card">
  <div *ngIf="profile">
    <div class="field">
      <span class="label">Dhan Client ID:</span>{{ profile.dhanClientId }}
    </div>
    <div class="field">
      <span class="label">Token Validity:</span>{{ profile.tokenValidity }}
    </div>
    <div class="field">
      <span class="label">Active Segment:</span>{{ profile.activeSegment }}
    </div>
    <div class="field"><span class="label">DDPI:</span>{{ profile.ddpi }}</div>
    <div class="field"><span class="label">Data Plan:</span>{{ profile.dataPlan }}</div>
  </div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</mat-card>
