<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">User Profile</h2>
          <div *ngIf="errorMessage; else profileContent" class="alert alert-danger">
            {{ errorMessage }}
          </div>
          <ng-template #profileContent>
            <div *ngIf="profile; else loading">
              <p>Name: {{ profile.name }}</p>
              <p>Email: {{ profile.email }}</p>
              <p>Client ID: {{ profile.clientId }}</p>
            </div>
          </ng-template>
          <ng-template #loading>
            <p>Loading...</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
